* {
	font-family: "serif;", monospace;
	font-family: 100px;
}
h1 {
	font-size: 30px;

}
#learn-things {
	text-transform: uppercase;
}

.languages-to-learn {
	border-color: skyblue;
}

li[class] {
	background-color: skyblue;
}


li[type] {
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    width: 90%;
}

h4 + img {
    border-radius: 240px;
}

li[type] {
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    width: 90%;
}

ul {
	letter-spacing: 10px;
}

body > section > p {
	text-align: center;

}